<!DOCTYPE html>
<html>

<head>
    <%- include('./partial/head'); %>
</head>

<body>

    <main>
        <div class="jumbotron">
            <h1>Update User</h1>
            <p>Update the information of <%= user.name %> here!</p>
        </div>
        <form action="/update-user/<%= user.id %>" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= user.name %>">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" value="<%= user.address %>">
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="text" class="form-control" id="dob" name="dob" placeholder="Format dd-mm-yyyy" value="<%= user.dob %>">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender" value="<%= user.gender %>">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
</body>

</html>